<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.geocraft.electrics">

    <uses-permission android:name="android.permission.USE_CREDENTIALS"/> <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".app.ElectricApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.scaninput.ScanInputService"/>
        <activity
            android:name=".ui.activity.SplashActivity_"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
          <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.TaskManageActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/taskManage"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.NewTaskActivity_"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/action_new_task"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.CollectTypeActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.CommonListActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.ImportActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/import_data"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".ui.activity.ExportActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/export_data"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.DeviceShowListActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:label="@string/calculate_box_list">
        </activity>

        <activity
            android:name=".ui.activity.SystemSettingActivity_"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/system_setting"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.RecordActivity_"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label=""
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.activity.SearchActivity_"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_search"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.geocraft.electrics.sr.WellActivity_"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_search"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.geocraft.electrics.sr.TowerShowListActivity_"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"
            android:configChanges="orientation|screenSize|locale|layoutDirection"
            android:label="@string/app_search"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
